@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&family=Montserrat&family=Oswald&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root{
    min-height: 100vh;
}

body.sizeGuideShown {
    overflow: hidden;
}

.App {
    width: 100%;
    min-height: 100%;
    height: max-content;
    position: relative;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.homeTop h1 {
    text-align: center;
    margin: 2em auto .5em;
}

.ShopNow {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.ShopNow a {
    width: 8em;
    height: 2em;
    font-size: 1.3em;
    background: transparent;
    outline: none;
    border-radius: 5em;
    border: .01em solid rgb(142, 140, 140);
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShopNow a:hover {
    border-color: rgb(39, 39, 39);
    color: black;
}

.homeImg {
    max-width: 100%;
    height: auto;
}

.mainGrid {
    display: grid;
    grid-template-areas:
        "shoes shoes"
        "clothes accesories";
    width: 98%;
    height: 110vh;
    margin: 0 auto 2em;
    gap: 1em;
}

.mainGridShoes {
    grid-area: shoes;
    position: relative;
    width: 100%;
    height: max-content;
}

.mainGridClothes {
    grid-area: clothes;
    position: relative;
    width: 100%;
    height: 30vh;
}

.mainGridAccesories {
    grid-area: accesories;
    position: relative;
    width: 100%;
    height: 30vh;
}

.mainGridShoes p,
.mainGridClothes p,
.mainGridAccesories p {
    position: absolute;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.mainGridShoes p {
    font-size: 5em;
    left: 10%;
    bottom: 10%;
}

.mainGridClothes p {
    font-size: 2em;
    left: 5%;
    bottom: 15%;
}

.mainGridAccesories p {
    font-size: 2em;
    right: 15%;
    bottom: 25%;
}

.mainGridShoes a,
.mainGridClothes a,
.mainGridAccesories a {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.mainGridShoes img,
.mainGridClothes img,
.mainGridAccesories img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: .6em;
}

header {
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    /* gap: 5em; */
    min-height: 10vh;
    padding: 0 1em;
}

header a {
    font: MutatorSans sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header a:hover {
    color: rgb(143, 143, 143);
}

.headerFirst {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.headerFirst a {
    /* font-size: 1.5em; */
    font-weight: 600;
}

.headerSecond {
    display: none;

}

.headerSecond a {
    font-size: 1.2em;
}

.headerThird {
    display: flex;
    gap: .5em;
    align-items: center;
}

.headerBag {
    width: 3.5em;
    height: 2em;
    position: relative;
    display: flex;
    align-items: center;
}

.headerBag a {
    position: absolute;
    z-index: 2;
    width: 2em;
    height: 2em;
}

.headerBag svg {
    position: absolute;
}

.headerBag p {
    position: absolute;
    right: 4px;
}

.icon {
    color: black;
    width: 2em;
    height: 2em;
}

.styleFeedLink {
    font: MutatorSans sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 600;
    margin-left: .5em;
}

.myHover {
    position: relative;
}

.myHoverContent {
    display: none;
    position: absolute;
    z-index: 100;
    background: rgb(152, 152, 152);
    background: linear-gradient(180deg, rgba(152, 152, 152, 1) 25%, rgba(77, 77, 77, 1) 68%);
}

.myHoverCategorieName {
    color: white;
}

.myHoverCategorieName:hover {
    color: rgb(0, 0, 0);
}

.myHover:hover .myHoverContent {
    display: block;

}

.myHoverContent li {
    cursor: pointer;
    padding-top: 4px;
    color: white;
}

.myHoverContent li:hover {
    color: rgb(0, 0, 0);
}

.likesTop {
    background-color: rgb(206, 206, 206);
    height: 2em;
    display: flex;
    align-items: center;
}

.likesHover {
    position: relative;
    min-height: 8vh;
    display: flex;
    align-items: center;
}

.likesHoverContent {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    z-index: 100;
    min-width: 15vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
}

.likesHoverCategorieName {
    color: white;
}

.likesHoverCategorieName:hover {
    color: black;
}

.likesHover:hover .likesHoverContent {
    display: block;
}

.likesHoverContent li {
    width: 200px;
    height: auto;
    cursor: pointer;
    padding-top: 4px;
}

.pic img {
    width: 80px;
    height: auto;
    margin-left: 0;
}

.likedProductContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.likedProductContentLeft {
    display: flex;
}

.likedProductDescription {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.likedProductDescription b,
p {
    display: flex;
    justify-content: flex-start;
}

.likedProductDescription:hover {
    color: rgb(62, 62, 255);
}

.removeFromLikes {
    border: none;
    outline: none;
    background: transparent;
}

.w-6.h-9 {
    border: none;
    width: 1.5em;
    cursor: pointer;
}

.w-6.h-9:hover {
    color: red;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em auto;
    margin-bottom: 5em;
}

.product {
    max-width: 40%;
    min-height: 5em;
}

.productContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 24em;
    border-radius: 2vmax;
    margin-top: 10px;
    padding: .5em;
}

.productContent:hover {
    border: 2px solid rgb(210, 210, 210);
    border-radius: 2vmax;
}

center img {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.price {
    color: black;
    margin: 0;
}

.salePrice {
    display: flex;
    gap: .4em;
}

.salePriceP {
    display: flex;
    flex-direction: column;
}

.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    color: red;
}

.onHover {
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.productItemSizes {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    font-size: 0.9rem;
}

.productItemSizes li {
    color: rgb(148, 148, 148);
    margin: 2px;
}

.productItemSizes li:hover {
    color: black;
    background-color: transparent;
}

.likeBtnConteiner {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.likeBtn {
    min-width: 2em;
    min-height: 2em;
    background: transparent;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1vmax;
}

.likeBtn svg {
    width: 2em;
    height: auto;
    border: none;
}

.likeBtn:hover svg {
    fill: black
}

.bagContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
}

.deliveryDescription {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    gap: 1em;
    font-size: .7em;
}

.delivery,
.pickUpInStore {
    display: flex;
}

.deliveryDescription span {
    margin-top: 1.5em;
    margin-left: .3em;
}

.w-6.h-1 {
    border: none;
    width: 1.5em;
}

.emptyBag {
    display: grid;
    place-items: center;
    gap: 1em;
    margin: 4em;
}

.emptyBag b {
    color: black;
}

.w-6.h-8 {
    border: none;
    width: 4em;
}

.bagProductOutside hr {
    margin: .6em;
}

.bagProduct {
    min-height: 17vh;
    display: flex;
    /* justify-content: space-between; */
    cursor: pointer;
    padding-right: 1em;
}

.bagProduct p {
    font-size: .9em;
}

.bagProductContent {
    display: flex;
    width: 85%;
}

.bagProductContent img {
    width: 50%;
    height: auto;
}

.productDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: .4em;
}

.desktopDeleteFromCart {
    display: none;
    min-width: 8em;
    min-height: 4vh;
    margin-top: 2em;
    background-color: transparent;
    cursor: pointer;
    border: .01em solid rgb(140, 140, 140);
    border-radius: 1vmax;
}

.mobileDeleteFromCart {
    flex-basis: 10%;
    outline: none;
    border: none;
    background: transparent;
    height: 2em;
    margin-right: 1em;
}

.desktopDeleteFromCart:hover {
    border-color: rgb(39, 39, 39);
}

.w-6.h-2 {
    border: .001em solid rgb(138, 138, 138);
    border-radius: 100%;
    color: rgb(138, 138, 138);
    width: 3em;
}

.w-6.h-2:hover {
    color: rgb(91, 91, 91);
    border-color: rgb(91, 91, 91);
}

.shoePageProduct {
    display: flex;
    padding-top: 3em;
}

.shoePageLeft {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10em;
    margin: 5em;
}

.shoePageDescription h2 {
    margin-bottom: 1em;
}

.shoePageProductContent {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.mobileShoePage {
    min-height: 60vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    margin-bottom: 4em;
}

.mobileShoePage > .addToCartButton {
    min-width: 15em;
    min-height: 2.5em;
}

.slide {
    display: none;
}

.slide.show {
    display: block;
}

.slide img {
    width: 100%;
}

.shoePageSlider {
    display: flex;

}

.shoePageSliderCarousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-width: 40vw;
    margin-top: 5vh;
}

.shoePageSlides {
    width: 30em;
    height: 25em;
    cursor: pointer;
}

.shoePageSliderSlide {
    width: 100%;
    max-width: 30em;
    height: auto;
    position: absolute;
    display: none;
}

.shoePageSliderSlide.show {
    display: block;
}

.slideImg {
    width: 30em;
    height: auto;
}

.shoePageSliderCarousel button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow {
    display: none;
}

.arrow.show {
    display: block;
}

.shoePageSliderVerticalContainer {
    border: .01px solid rgb(201, 201, 201);
    border-radius: 1vmax;
    padding: .5em;
    height: max-content;
}

.shoePageSliderVertical {
    display: flex;
    flex-direction: column;
}

.shoePageSliderVertical img {
    cursor: pointer;
    width: 5em;
    height: auto;
}

.verticalSlide.activeSlide {
    opacity: 0.3;
}

.mobileShoePageSlider {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-bottom: 2em;
}

.mobileShoePageSliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    min-width: 40vw;
}

.mobileShoePageSlides {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mobileShoePageSliderSlide {
    position: absolute;
    width: auto;
    height: 100%;
    position: absolute;
    display: none;
}

.mobileShoePageSliderSlide.show {
    display: block;
}

.shoePageSliderHorisontalContainer {
    border: .01px solid rgb(201, 201, 201);
    border-radius: 1vmax;
    width: 100%;
    height: 2em;
    display: flex;
    gap: .1em;
    justify-content: space-between;
}

.horisontalSlide {
    width: 20%;
    height: .2em;
    background-color: gray;
}

.horisontalSlide.activeSlide {
    opacity: 0.3;
}

.sizeGuideContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.sizeGuideContent {
    position: fixed;
    min-width: 35vw;
    height: max-content;
    background-color: white;
}

.sizeGuideContent h1 {
    margin: 1em;
}

.sizeGuideCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: gray;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-end;
}

.sizeChartTable {
    width: 80%;
}

.sizeChartTable.clothes tr>td:nth-child(1),
.sizeChartTable.clothes tr>td:nth-child(3) {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    margin: 2em auto;
}

td {
    text-align: center;
}

tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(5) {
    background-color: rgb(173, 172, 172);
}

table,
th,
td {
    border: .001em solid rgb(92, 92, 92);
}

.image {
    width: 30vw;
    height: auto;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.sizes button {
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 3px;
    background-color: transparent;
}

.sizes button:hover {
    border: 1px solid black;
    background-color: transparent;
}

/* .sizes button:focus {
    border: 1px solid black;
    background-color: transparent;
} */

.mobileSizesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizes.mobile {
    width: 100%;
    margin: .5em;
}

.sizes.mobile li {
    flex: 1 0 21%;
    max-width: 5em;
}

.sizes.mobile button {
    max-width: 5em;
    min-width: 100%;
    border-radius: 2vmax;
}

.sizeGuide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
    margin-top: 3em;
    padding: 0 1em;
}

.sizeGuide p {
    cursor: pointer;
}

.sizeGuide p:hover {
    border: .1em solid lightgray;
    border-radius: 1em;
    padding: .5em;
}

.addToCartButton {
    width: 8vw;
    height: 7vh;
    background-color: rgb(49, 49, 49);
    color: white;
    margin: 10px;
    border-radius: 3vmax;
    border: none;
}

.addToCartButton:hover {
    background-color: rgb(84, 84, 84);
    cursor: pointer;

}

.filterBar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.selects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 15px;
}

.selectContainer {
    position: relative;
    width: 100%;
    min-height: 1.5em;
    border: .05em solid gray;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
}

.selectContainer:focus {
    border-color: rgb(0, 149, 255);
}

.selectValue {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.selectClearBtn {
    background: none;
    color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}

.selectClearBtn:focus,
.selectClearBtn:hover {
    color: rgb(69, 69, 69);
}

.selectDivider {
    background-color: gray;
    align-self: stretch;
    width: .05em;
}

.selectCaret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: gray;
}

.selectOptions {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    background-color: white;
    border: .05em solid gray;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    z-index: 100;
}

.selectOptions.open {
    display: block;
}

.selectOption {
    padding: .25em .5em;
    cursor: pointer;
}

.selectOption:hover {
    background-color: rgb(0, 149, 255);
    color: white;
}

.selectOption.selected {
    background-color: rgb(76, 180, 254);
}

.optionBadge {
    display: flex;
    align-items: center;
    border: .05em solid gray;
    border-radius: .25em;
    padding: .15em .25em;
    gap: .25em;
    cursor: pointer;
    background: none;
    outline: none;
}

.optionBadge:hover,
.optionBadge:focus {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: rgba(255, 0, 0, 0.6);
}

.optionBadge:hover>.optionRemoveBtn,
.optionBadge:focus>.optionRemoveBtn {
    color: red;
}

.optionBadge>.optionRemoveBtn {
    color: gray;
    font-size: 1.2em;
}

.inputContainer {
    margin: .5em;
    min-height: 1.5em;
}

.inputLabel {
    position: relative;
    min-height: 1.5em;
}

.inputLabel:before {
    content: "";
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url(/src/imgs/search.svg) center / contain no-repeat;
}

input {
    width: 15em;
    height: 100%;
    border: .05em solid gray;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 2vmax;
    outline: none;
    padding: 10px 20px;
}

.bagTop {
    display: flex;
    flex-direction: column;
    /* gap: 5%; */
    margin: 0;
    margin-bottom: 1em;
}

.bagProducts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: auto;
    background-color: white;
}


.orderPrice {
    background-color: white;
    width: 100%;
    max-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderDescription p {
    margin: 15px 20px;
}

.orderDescriptionPrice {
    display: flex;
    justify-content: space-between;
}

.orderDescriptionCashback {
    display: flex;
    justify-content: space-between;

}

.orderButton {
    display: flex;
    justify-content: center;
}

.orderButton button {
    width: 80%;
    min-height: 4vh;
    margin-top: 5em;
    background-color: transparent;
    cursor: pointer;
    border: .01em solid rgb(140, 140, 140);
    border-radius: 1vmax;
    margin-bottom: 1em;
}

.orderPrice button:hover {
    border-color: rgb(39, 39, 39);
}

.recomendations {
    border: 1px solid rgb(98, 98, 98);
    width: 100%;
    height: 100px;
}

.container {
    width: 75vw;
    height: 100vh;
    top: 0;
    margin: 0;
    display: flex;
}

.w-6.h-6 {
    width: 5vw;
    height: 6vh;
    border: 1px solid black;
    border-radius: 100%;
}

.w-6.h-6:hover {
    cursor: pointer;
}

.newsWrapper {
    margin: 5vh 3vw;
}

.news {
    display: flex;
    flex-wrap: wrap;
}

.nnn {
    flex: 1 0 41%;
    cursor: pointer;
    height: max-content;
    height: 15em;
}

.nnn img {
    width: auto;
    height: 80%;
}

.mainNews {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.imgWrappper {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mainNews img {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.mainNews img:hover {
    transform: scale(1.1);
    transition: transform .4s;
}

.NewsContainer {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 5vh auto;
    max-width: 60%;
}

.NewsContent {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 2em;
}

.NewsContentInner {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.NewsContentInner b {
    color: rgb(46, 46, 46);
    font-size: 1.3em;
}

.NewsContentInner p {
    color: black;
}

.footerContainer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    background-color: rgb(54, 54, 54);
    max-height: 35vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1em .3em 2em;
}

.footerColumns {
    /* width: max-content; */
    height: 80%;
    width: 100%;
    display: flex;
    gap: 2em;
}

.footerColumns>div>p,
b {
    cursor: pointer;
    font-size: 0.8em;
    color: white;
}

.footerColumn {
    padding-top: 1em;
    width: calc(100% /3);
    display: flex;
    flex-direction: column;
}

.footerDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 20%;
}

.footerDown p {
    font-size: .6em;
    color: rgb(255, 255, 255);
}

.w-6.h-3 {
    border: none;
    width: 1.3em;
}


nav {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.navContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2em;
    min-width: 25vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.navTop {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3em;
    padding: .5em;
}

.navTop button {
    outline: none;
    border: none;
    background: none;
    width: 2em;
    height: 2em;
}

.navLocation {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.navLocationTop {
    display: flex;
}

.navLocationBottom {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}

.navLocationBottomContent {
    display: flex;
}

.navDivider {
    background-color: gray;
    align-self: stretch;
    width: .05em;
    margin: 0 .2em;
}

.navCategories {
    min-width: 100%;
    display: flex;
    height: 3em;
    margin-bottom: 1em;
}

.navSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navSection {
    overflow: hidden;
    width: 100%;
    height: 6em;
    position: relative;
}

.navSection:nth-child(1) {
    background-color: rgb(176, 176, 176);
}

.navSection:nth-child(2) {
    background-color: rgb(231, 231, 0);
}

.navSection:nth-child(3) {
    background-color: rgb(214, 115, 2);
}

.navSection:nth-child(4) {
    background-color: rgb(27, 166, 27);
}

.navSection:nth-child(5) {
    background-color: rgb(127, 0, 169);
}

.navSection img {
    position: absolute;
    right: 1em;
    top: .2em;
    width: 10em;
    height: auto;
}

.navSection:nth-child(1) img {
    position: absolute;
    right: 1em;
    top: -.5em;
    /* transform: rotate(20deg); */
    width: 9em;
    height: auto;
}

.navSection:nth-child(4) img {
    position: absolute;
    right: 1em;
    top: -2.3em;
    transform: rotate(20deg);
    width: 10em;
    height: auto;
}

.navSection:nth-child(5) img {
    position: absolute;
    right: 3.3em;
    /* top: -1em; */
    width: 5em;
    height: auto;
}

.navSection a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 1em;
    display: flex;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    color: black;
}

.w-6.h-10 {
    border: none;
    width: 2em;
    margin-top: .3em;
}

.mobileInputContainer {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255, 255, 255)
}

.mobileInputSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileInputSection input {
    width: 93vw;
    border: none;
}

.mobileInput {
    display: flex;
    align-items: center;
}

.mobileInput button {
    width: 2em;
    height: 2em;
}

.w-6.h-13 {
    border: none;
    width: 1.5em;
    margin-left: .5em;
}

.w-6.h-12 {
    border: none;
    width: 2em;
}

.mobileInput button {
    outline: none;
    border: none;
    background: transparent;
}

.mobileInput button:hover {
    cursor: pointer;
}

.searchHistory {
    margin-bottom: 2em;
}

.searchHistoryTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em;
}

.searchHistoryTop button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .4em;
}

.historyLeft {
    display: flex;
    align-items: center;
    gap: 1em;
}

.w-6.h-7 {
    border: none;
    width: 1.5em;
}

.mobileSearchedProducts {
    border-bottom: .1em solid rgb(198, 198, 198);

}

.mobileSearchedProductItem {
    display: flex;
    border-top: .1em solid rgb(198, 198, 198);
    width: 100%;
    max-height: 5em;
    cursor: pointer;
}

.mobileSearchedProductItem img {
    max-width: 5em;
    height: auto;
}

@media (min-width: 900px) {
    .headerFirst svg {
        display: none;
    }

    .headerFirst a {
        font-size: 2em;
    }

    .headerSecond {
        display: flex;
        gap: 3em;
        margin-right: 5em;
    }

    .productList {
        margin: 2em;
    }

    .product {
        /* flex: 1 0 21%; */
        max-width: 23%;
        /* min-width: none; */
        max-height: 22em;
        margin-bottom: 1em;
        position: relative;
        cursor: pointer;
    }

    .mainNews {
        flex-direction: row;
    }

    .news {
        flex-direction: column;
        gap: 3em;
    }

    .footerColumn {
        padding: 1.5em;
    }

    .styleFeedLink {
        font-size: 3em;
    }

    .selectContainer {
        width: 20em;
    }

    .bagTop {
        flex-direction: row;
        gap: 5%;
        margin: 3em;
    }

    .bagProducts {
        width: 60%;
    }

    .orderPrice {
        width: 35%;
    }

    .desktopDeleteFromCart {
        display: block;
    }

    .mobileDeleteFromCart {
        display: none;
    }

    .bagProductContent img {
        width: 25%;
    }

    .deliveryDescription {
        flex-direction: row;
        gap: 5em;
        margin: 2em;
        font-size: 1em;
    }

}